custom-boton {
    button {
        appearance: none;
        border: 0;
        background: transparent;
        padding: 0.625rem 2.1875rem;
        border-radius: 1.5rem;
        border: 1px solid var(--color-blanco-1);
        font-size: 1rem;
        color: var(--color-blanco-1);
        font-family: var(--font-secundaria-regular);
    }
}
