body {
    background: var(--color-blanco-1);
    color: var(--color-blanco-2);
    font-family: var(--font-primaria-regular);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.strong-circular {
    font-family: var(--font-primaria-bold);
}

.strong-helvetica {
    font-family: var(--font-secundaria-bold);
}

.custom-container {
    @include media-breakpoint-up(md) {
        @include make-container(48px);
    }
    @include media-breakpoint-up(lg) {
        @include make-container(192px);
    }
    @include media-breakpoint-up(xl) {
        @include make-container(192px);
    }
    @include media-breakpoint-up(xxl) {
        @include make-container(auto);
        max-width: 1174px;
    }
}

.font-secondary {
    font-family: var(--font-secundaria-regular);
}

.text-2xl {
    font-size: 4.375rem;
    line-height: 5.4688rem;
}

.text-med {
    font-size: 1.75rem;
    line-height: 2.3275rem;
}

.text-md-20 {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.text-sm-16 {
    font-size: 1rem;
    line-height: 1.5rem;
}
.text-xs-14 {
    font-size: 0.875rem;
    line-height: 0.875rem;
}

.title-underline {
    display: grid;
    row-gap: 1rem;
    font-family: var(--font-primaria-bold);

    &::after {
        content: "";
        display: block;
        width: 40px;
        height: 8px;
        background: var(--color-amarillo);
    }
    // &.title-center {
    //     place-items: start;
    // }
}
