:root {
    --color-primario-1: #d3b318;
    --color-gris-1: #1b1a16;
    --color-blanco-1: #fdfdfd;
    --color-blanco-2: #fff;

    --font-primaria-regular: "Circular Std";
    --font-primaria-bold: "Circular Bold";
    --font-secundaria-regular: "Helvetica";

    --padding-section: 5.75rem;
}
