:root {
   
   

    --color-primario-azul-400: #145B97;
    --color-azul-2:#006FB9;
    --color-azul-3:#F1F4FA;
    --state-info-100:#E4F7FF;
    --color-blanco-1: #FFFFFF;
    --color-gris-1: #1b1a16;
    --color-gris-2:#EEEDED;
    --color-gris-500:#595955;
    --color-amarillo:#FFDD35;
    --color-amarillo-2:#F2C94C;

    --font-primaria-regular: "Circular Std";
    --font-primaria-bold: "Circular Bold";
    --font-secundaria-regular: "Helvetica";
    --font-secundaria-bold: "Helvetica Bold";

    --padding-section: 5.75rem;
}
