.hero{
  padding: 1rem 0;
  border-radius: 0px 0px 2.5rem 2.5rem;
  background: var(--color-azul-3, #F1F4FA);
  color:var(--color-blanco-1);
  font-family: var(--font-primaria-regular);
  
  &--info{
      display:flex;
      flex-direction: column;
      gap:1rem;
      padding: 1.5rem 1rem;
      border-radius: 1rem;
      background: linear-gradient(120deg, #0D0B79 -3.87%, #046AC0 32.52%, #1DACBA 56.46%, #85C249 83.65%);
  }
  & h1{
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: var(--font-primaria-bold);

  }
  p {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  &--bonificacion{
    margin: 1.5rem 0;
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    color:var(--color-gris-1);
    font-size: 1.125rem;
    line-height:1.75rem;
    
    &--color{
      color: var( --color-azul-2);
    }

    .badge--image{
      background: var(--color-amarillo);
      border-radius: 2.5rem;
      padding: 0.75rem;
      width: 56px;
      height: 56px;
    }
  }

  
}


.promociones{

      padding: 4rem 0;  

      .row{
        gap:2.625rem;
      }
      &--info{
        color: var(--color-azul-2);
        font-size: 2rem;
        line-height: 2.5rem;
      }
      &--cards .card{
        background:var(--color-azul-3);
        border-radius: 1.5rem;
        box-shadow: 0px 4px 48px 0px rgba(95, 171, 221, 0.16);

        
      }

}


.efectivo{
  
  padding: 4rem 0;
  background: var(--color-azul-3);
  border-radius: 2.5rem;

  .row{
    gap:1.5rem;
  }
  &--info{  
   
    h2{
      color: var(--color-azul-2);
      font-size: 2rem;
      line-height: 2.5rem;
    }

    p{
      font-size: 1.125rem;
      line-height: 1.625rem;
      margin:1.5rem 0;
    }
    .boton{
      padding: 12px 32px;
      text-align: center;
      text-decoration: none;
      border-radius: 100px;
      border: 1px solid var( --color-azul-2);
      color: var(--color-azul-2);
      font-size: 16px;
      line-height: 24px;

    }
  
    .dia{
     color: var(--color-azul-2);
     font-size: 24px;
     line-height: 32px;
    }
    .comision{    
      font-size: 18px;
      line-height: 28px;
    }
  }
 
  &--card{
    display: flex;
    flex-direction: column;
    gap:16px;
    padding:24px;
    margin-top: 24px;
    background: var(--color-blanco-1);
    border-radius: 24px;
    box-shadow: 0px 4px 48px 0px rgba(95, 171, 221, 0.16);


    .badge--image{
      border-radius: 40px;
      background: var(--primary-extended-azul-100);
    }
  }
}

.app{
  padding: 24px 0 64px 0;
  text-align: center;
  &--mockup img{
    width: 100%;
  }

  h2{
    margin: 32px 0 16px 0;
    color: var(--color-azul-2);
    font-size: 32px;
    line-height: 40px;
  }

  .title-underline{
    place-items: center;
  }

  p{
    margin: 1rem 0;
   
    font-size: 18px;
    line-height: 26px;
  }

  a{
    display: inline-block;
    text-decoration: none;
    padding: 12px 32px;
    border-radius: 100px;
    background: var(--color-azul-2);
    color: var(--color-blanco-1);
    font-size: 1rem;
    line-height: 24px;
    font-family: var(--font-secundaria-bold);

  }

}




.terminos{
  padding: 64px 0;
  background: var(--color-azul-3);
  color:var(--color-gris-500);
  font-family: var(--font-secundaria-regular);
  font-size: 16px;  
  line-height: 24px;


  p{
    margin-bottom: 26px;
  }  
  p:last-child{
    margin-bottom: 0;
  }
  p span.campania{
    color:var(--color-azul-2) ;
  }
  p:first-child{
    font-size: 18px;
    line-height: 28px;
  }

  p:last-child span{
    font-size: 18px;
    line-height: 28px;
    
  }

 
}
