.header{
    .nav {
       
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        &__logo{
            padding: 1rem 1rem;
            background: var( --color-primario-azul-400);
            img{
                width: 128px;
            }
        }    
        .menu{
            
            background: var(--color-blanco-1);
            color:var(--color-azul-2);
            list-style:none;
            padding: 0;
            margin-bottom: 0;
            display: flex;
            
            justify-content:flex-start;
    
            &__item{
                // outline: 1px solid red;
             
               
                padding: 16px;
            }
    
            &__item--active{
                border-bottom: 4px solid var( --color-azul-2);
            }
        }
    }
}
@media (min-width:1024px){
    .header{
        .nav{
            &__logo{   
                padding-left: 64px;            
                img{
                    width:186.353px;
                }
            }   
            .menu{
                padding-left: 48px;

                &__item{
                 
                    padding: 16px 24px;
                }
            }
        }
    }
}



