.promociones-grid {
    overflow-y: initial;

    margin: 2.625rem auto;

    .swiper-slide {
        /* width: 308px; */
        width: 268px;
        margin-bottom: 2rem;
    }

    .swiper-pagination {
        position: relative;
    }
}

@media (min-width: 1280px) {
    .promociones-grid {
        .swiper-wrapper {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-end;
            column-gap: 24px;
            row-gap: 64px;

            .swiper-slide {
                width: auto;
                flex: 0 1 434px;

                &:first-child {
                    margin-top: 160px;
                }

                &:is(:nth-child(4n)) {
                    margin-top: -160px;
                }

                &:last-child:not(&:nth-child(2), &:nth-child(1)) {
                    margin-top: -160px;
                }
            }
        }
        .swiper-pagination {
            display: none;
        }
    }
}
